@media only screen and (max-width: 810px) {
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 0rem;
    flex-direction: column;
    background-color: #112240;
    width: 60%;
    filter: blur(0px);
    justify-content: space-evenly;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 9998;
  }

  .nav-item {
    margin-left: 0;
  }

  .nav-logo {
    margin-left: 0;
  }

  .nav-menu.active {
    right: 0;
    justify-content: space-evenly;
  }

  .hamburger {
    cursor: block;
    display: block;
    z-index: 9999;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }

  #main {
    margin-left: 5em;
    margin-top: 10em;
  }

  .greeting {
    font-size: 1rem;
  }

  .my-name {
    font-size: 3.5rem;
  }

  .my-desc {
    max-width: 70%;
  }

  .btn-linkedin {
    font-size: .9rem;
    padding: 12px 17px;
  }

  #projects {
    flex-direction: column;
    padding-inline: 7%;
  }

  .pj-head {
    max-width: 85%;
  }

  .pj-column-2 {
    gap: 4.5em;
  }

  #contact {
    padding-inline: 5%;
  }

  .contact-desc {
    padding-inline: 10%;
  }
}

@media only screen and (max-width: 480px) {
  #main {
    margin-left: 10%;
    margin-top: 10em;
  }
  
  .greeting {
    font-size: .9rem;
  }

  .my-name {
    font-size: 2.5rem;
    line-height: 1.2;
    padding: .2em 0 .2em 0;
  }

  .my-desc {
    font-size: 1rem;
    max-width: 90%;
  }

  .about-desc {
    font-size: 1rem;
  }

  .contact-title {
    font-size: 2rem;
  }
  
  #projects {
    margin-top: 10em;
  }

  .pj-head {
    max-width: 100%;
  }

  .pj-head > h2 {
    font-size: 1.5rem;
  } 

  .pj-head > p {
    font-size: 1rem;
    line-height: 1.4;
  }

  #contact {
    margin-bottom: 5em;
    margin-top: 10em;
  }

  .contact-desc {
    font-size: .9rem;
    padding-inline: 0;
  }

  .contact-mail-btn {
    font-size: .9em;
  }

  .mail-at {
    flex-direction: column;
    font-size: .9em;
    gap: 25px;
  }

  .mail-link {
    font-size: .9rem;
  }

  #credits {
    padding-inline: 10%;
  }
}